extends layout

block content
  .app
  
    .block.block-document
      .toolbar.toolbar-document
        div.button-new-document
          p= "New"
        div.button-show-profile
          p= "Profile"
        div.button-browse-users
          p= "Users"
        div.button-browse-documents
          p= "Documents"
      div.table-container
        table
          thead
            tr
              td= "Owner"
              td= "Name"
              td= "Language"
              td= "Created At"
              td= "Last Updated"
          tbody.documents
            each doc in docs
              tr.document(data-document-id= doc.id)
                td= doc.Owner.username
                td= doc.name
                td= doc.language
                td= doc.createdAt
                td= doc.updatedAt
                td.button-load-document= "open"
                td.button-delete-document= "delete"

    .block.block-editor
      .toolbar.toolbar-editor
        div.close-block-document
          p= "<"
        div.button-save-document
          p="Save"
      #editor
      .sidebar
        h4= "Info"
        p= "Title: "
          span.documentTitle
        p= "Owner: "
          span.documentOwner
        p= "Language: "
          span.documentLanguage
        p= "Created on: "
          span.documentCreatedAt
        p= "Last updated: "
          span.documentUpdatedAt

        h4= "Editors"
        ul.editorList
        input.searchUsers(placeholder="Search Users")
        ul.foundUsers

        .chat
          .chat-comments
          input.chat-input(placeholder="Enter a chat comment here")

    .block.block-profile
      .toolbar.toolbar-profile
        div.close-block-profile
          p= "v"
      .row.profile-body
        .profile-details.four.columns
          div.profile-image
            img(src="http://jasonsvoices.com/funnyguy/wp-content/uploads/2016/03/Liam-Neeson.jpg")
          .profile-info
            h1= "Liam Neeson"
            h2= "SpecialSkills24"
            div.icon-container
              i.fa.fa-map-marker
              span= "Vancouver"
            div.icon-container
              i.fa.fa-envelope-o
              span= "liamneeson@willfind.net"
            div.icon-container
              i.fa.fa-clock-o
              span= "joined 5 years ago"
            div.icon-container
              i.fa.fa-code
              span= "___ characters inputted"
            div.icon-container
              i.fa.fa-user
              span= "about me"
            p= " I don't know who you are. I don't know what you want. If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills, skills I have acquired over a very long career. Skills that make me a nightmare for people like you. If you let my daughter go now, that'll be the end of it. I will not look for you, I will not pursue you. But if you don't, I will look for you, I will find you, and I will kill you."
            p= "more info - hidden"
        .profile-documents.eight.columns
          .table
            table
              thead
              tr
                th= "Owner"
                th= "Name"
                th= "Language"
                th= "Created At"
                th= "Last Updated"
                th
              tbody.documents
                each doc in docs
                  tr.document(data-document-id= doc.id)
                    td= doc.Owner.username
                    td= doc.name
                    td= doc.language
                    td= doc.createdAt
                    td= doc.updatedAt
                    td.button-load-document-profile= "open"

  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/javascripts/socket.js")
  script(src="/plugins/ace-builds/src/ace.js")
  script(src="/javascripts/user_search.js")
  script(src="/javascripts/app.js")
  script(src="/javascripts/editor.js")
  script(src="/javascripts/profile.js")
  