extends layout

block content
  .app
  
    .block.block-mydocs
      .toolbar.toolbar-mydocs
        div.button-new-mydoc
          p= "New"
        div.button-browse-users
          p= "Users"
        div.logout
          p= "Logout"

      .block-body.block-body-mydocs
        .my-profile-details
          .my-profile-image
            img(src="http://jasonsvoices.com/funnyguy/wp-content/uploads/2016/03/Liam-Neeson.jpg")
          .my-profile-info
            h1.my-profile-fullname
              span= user.firstName
              span= " "
              span= user.lastName
            h2.my-profile-username= user.username
            div.icon-container
              i.fa.fa-envelope-o
              span.my-profile-email= user.email
            div.icon-container
              i.fa.fa-code
              span= user.Profile.language || "No language provided."
            div.icon-container
              i.fa.fa-map-marker
              span.my-profile-location= user.Profile.location || "No location provided."
            br
            p.my-profile-bio= user.Profile.bio || "No biography provided."
        .mydocs
          table
            thead
              tr
                td= "Owner"
                td= "Name"
                td= "Language"
                td= "Created At"
                td= "Last Updated"
                td=""
                td=""
            tbody.documents
              h3="My Owned Documents"
              each doc in docs
                tr.document(data-document-id= doc.id)
                  td= doc.Owner.username
                  td= doc.name
                  td= doc.language
                  td= moment(doc.createdAt).format('MMM Do YYYY')
                  td= moment(doc.updatedAt).format('MMM Do YYYY [at] h:mm:ss a')
                  td.button-load-document= "open"
                  td.button-delete-document= "delete"
            tbody.other-documents


    .block.block-editor.hidden
      .toolbar.toolbar-editor
        div.close-block-document
          p= ">"
        div.button-save-document
          p="Save"
        div.button-open-editor
          p="Editors"
        div
          span= "Created on: "
          span.created= moment(documentCreatedAt).format('MMM Do YYYY')
        div
          span= "Last Updated: "
          span.updated= moment(documentUpdatedAt).format('MMM Do YYYY [at] h:mm:ss a')
      #editor
      .sidebar
        h4
          span.documentTitle(contentEditable= "true")
          small
            span= " - "
            span.documentOwner
        p= "Language: "
          span
            select.language-select
              option(value="c_cpp")= "C/C++"
              option(value="csharp")= "C#"
              option(value="coffee")= "CoffeeScript"
              option(value="css")= "CSS"
              option(value="django")= "Django"
              option(value="html_ruby")= "ERB"
              option(value="jade")= "Jade"
              option(value="java")= "Java"
              option(value="javascript")= "Javascript"
              option(value="json")= "JSON"
              option(value="mysql")= "MYSQL"
              option(value="objectivec")= "Objective-C"
              option(value="perl")= "Perl"
              option(value="plain_text")= "Plain Text"
              option(value="python")= "Python"
              option(value="r")= "R"
              option(value="ruby")= "Ruby"
              option(value="scss")= "SCSS"
              option(value="sql")= "SQL"
              option(value="html")= "HTML"
        a.button.githublink= "Copy file to a new Gist   "
          i.fa.fa-github.fa-1.5x
        .chat
          .chat-comments
          div.chat-submit
        input.chat-input(placeholder="Enter a chat comment here")

      .editors.hidden
        h4= "Editors"
        ul.editorList
        input.searchUsers(placeholder="Add new editor")
        ul.foundUsers

    .block.block-profile.hidden
      .toolbar.toolbar-profile
          div.close-block-profile
            p= ">"
      .block-body.block-body-profile
        .profile-details
          .profile-image
            img(src="http://jasonsvoices.com/funnyguy/wp-content/uploads/2016/03/Liam-Neeson.jpg")
          .profile-info
            h1.profile-fullname= "Liam Neeson"
            h2.profile-username= "SpecialSkills24"
            div.icon-container
              i.fa.fa-map-marker
              span.profile-location= "Vancouver"
            div.icon-container
              i.fa.fa-envelope-o
              span.profile-email= "liamneeson@willfind.net"
            div.icon-container
              i.fa.fa-clock-o
              span= "joined 5 years ago"
            div.icon-container
              i.fa.fa-code
              span= "___ characters inputted"
            div.icon-container
              i.fa.fa-user
              span= "about me"
            p.profile-bio= " I don't know who you are. I don't know what you want. If you are looking for ransom, I can tell you I don't have money. But what I do have are a very particular set of skills, skills I have acquired over a very long career. Skills that make me a nightmare for people like you. If you let my daughter go now, that'll be the end of it. I will not look for you, I will not pursue you. But if you don't, I will look for you, I will find you, and I will kill you."
        .profile-table
          .table
            table
              thead
              tr
                th= "Owner"
                th= "Name"
                th= "Language"
                th= "Last Updated"
                th
              tbody.profile-documents

    .block.block-users.hidden
      .toolbar.toolbar-users
        div.close-block-users
          p= ">"
      .block-body.block-body-users
        input.search-user-profiles(placeholder="Search Profiles")
        .user-profiles
    .block.block-docs.hidden
      .toolbar.toolbar-docs
        div.close-block-docs
          p= ">"

  script(src="/javascripts/profile.js")
  script(src="https://cdn.socket.io/socket.io-1.4.5.js")
  script(src="/javascripts/socket.js")
  script(src="/plugins/ace-builds/src/ace.js")
  script(src="/javascripts/user_search.js")
  script(src="/javascripts/app.js")

  script(src="/javascripts/editor.js")
  
  

