extends layout

block content
  .hero
    .logo
      h1= "LiveCode"
    .filter
    #hero-editor

  .about
    .blurb.container
      .blurb-img.six.columns
        img
      .blurb-text.six.columns
        h3= "What is LiveCode?"
        p= "LiveCode is a collaborative coding project designed to bring developers of all levels together to learn and build small projects. It builds upon the concept of 'pair programming', where two or more developers focus in on one computer. We understand, however, that it can get quite crowded in front of one tiny screen, so we built LiveCode to solve that problem. We created a social platform where you can share multiple documents across multiple computers a the while coding at the same time. Pretty nifty, eh?"
    .blurb.container
      .blurb-text.six.columns
        h3= "Easy to use!"
        p= "To use LiveCode, you have to click the register button in the top right corner of this page. After registering, log in and the web application will be right there for you to use! We designed the application to flow seamlessly from one feature to another so you don't have to be dragging everything around your screen. Go on. Give it a try!"
      .blurb-img.six.columns

  .metadata

  .footer

  script(src="/plugins/ace-builds/src-min-noconflict/ace.js")
  script(src="/javascripts/home.js")